.request-container {
  padding: 20px 20px;

  .subtitle {
    font-size: 18px;
  }

  .content {
    margin-top: 30px;
    font-size: 17px;
  }

  .textarea-wrapper {
    margin-top: 20px;
  }
}

.textarea-wrapper {
  margin-top: 20px;
}

.price-wrapper {
  margin-top: 20px;
}
