.request-container {
  padding: 20px 10px;

  .title {
    font-weight: bolder;
    font-size: 20px;
  }

  .content {
    margin-top: 20px;
    font-size: 17px;
  }

  .textarea-wrapper {
    margin-top: 20px;
  }
}

.textarea-wrapper {
  margin-top: 20px;
}

.price-wrapper {
  margin-top: 20px;
  // padding: 20px;
}
