.language {
  color: black;
  font-size: 18px;
  font-weight: bolder;
  margin-top: 20px;
}

.stacks {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.token {
  display: inline-block;
  background-color: #eeeeee;
  padding: 8px 15px;
  font-weight: 600;
  border-radius: 30px;
}

.selected {
  background-color: #0055cc;
  color: #fff;
}
